//fonts
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Inter:wght@100;200;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');//styles
@import "./../styles/header/header";
@import "./../styles/hero/hero";
@import "./../styles/about/about";
@import "./../styles/choose/choose";
@import "./../styles/servises/servises";
@import "./../styles/feedback/feedback";
@import "./../styles/consultation/consultation";
@import "./../styles/footer/footer";
//style

//icons
@import "icons.css";
//icons

//global
body{
  font-family: 'Work Sans',sans-serif;
}

.container{
  width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{text-decoration: none}
//global